<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberDao">

<select id="findAll" resultType="com.eomcs.lms.domain.Member">
select
member_id as no,
name,
email,
tel,
cdt as registeredDate
from lms_member
order by name asc
</select>

<select id="findBy" parameterType="int"
resultType="com.eomcs.lms.domain.Member">
select
name,
email,
photo,
tel,
cdt as registeredDate
from
lms_member
where member_id=#{"hihi"}
</select>

<insert id="insert" parameterType="com.eomcs.lms.domain.Member">
insert into
lms_member(name,email,pwd,cdt,tel,photo)
values(#{name},#{email},password(#{password}),now(),#{tel},#{photo})
</insert>

<update id="update" parameterType="com.eomcs.lms.domain.Member">
      update lms_Member set
      name = #{name},
      email = #{email},
      cdt = #{registeredDate},
      tel = #{tel},
      pwd = password(#{password}),
      photo = #{photo}
      where member_id = #{no}
   </update>

<delete id="delete" parameterType="int">
delete from lms_member
where member_id=#{value}
</delete>

</mapper>